{% extends "::form_div_theme.html.twig" %}

{% block form_row %}
  {% spaceless %}
    <div class="form-group">
      {{ form_label(form) }}

      <div class="col-lg-9">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
      </div>
    </div>
  {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
  {% set label_attr =  label_attr | merge({ 'class': (label_attr.class | default('') ~ ' col-lg-3 control-label') | trim }) %}
  {{ parent() }}
{% endblock form_label %}

{% block form_start %}
  {% set attr =  attr | merge({ 'class': attr.class | default('') ~ ' form-horizontal', role: 'form' }) %}
  {{ parent() }}
{% endblock form_start %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      <ul class="errors">
        {% for error in errors %}
          <li class="alert alert-block alert-danger">{{ error.message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}
