{% extends "RodgerGalleryBundle:Front:base.html.twig" %}
{% block body %}
    <h1>{{ 'Edit %album%' | trans({'%album%' : album}) }}</h1>
    <form id="album-form" method="post" action="{{ path('albums.edit', { slug: album.slug }) }}"
          enctype="multipart/form-data">

        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="{{ 'update album' | trans }}"/>
    </form>

    {% render(controller("RodgerGalleryBundle:Album:upload", { album: album })) %}

    <div id="images-list-holder">
        {% render controller("RodgerGalleryBundle:Album:adminList", {'slug' : album.slug, 'page' : page}) %}
    </div>

{% endblock body %}

{% block primary_menu_items %}
    {{ parent() }}
    {% if album is defined %}
        <li><a href="{{ path('album.show', {'slug' : album.slug}) }}">{{ 'Show album' | trans }}</a></li>
        <li><a href="{{ path('albums.delete', {'slug' : album.slug}) }}"
               onclick="return confirm('{{ 'Are you sure to delete this album?' | trans }}')">{{ 'Delete album' | trans }}</a>
        </li>
    {% endif %}
{% endblock primary_menu_items %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/jquery-file-upload/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/jquery-file-upload/css/jquery.fileupload-ui.css">
    <link rel="stylesheet" type="text/css" href="/bundles/rodgergallery/css/album.edit.css">
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/jquery-file-upload/js/jquery.fileupload.js"></script>
    <script src="/jquery-file-upload/js/jquery.fileupload-process.js"></script>
    <script src="/jquery-file-upload/js/jquery.fileupload-image.js"></script>
    <script src="/jquery-file-upload/js/jquery.fileupload-audio.js"></script>
    <script src="/jquery-file-upload/js/jquery.fileupload-video.js"></script>
    <script src="/jquery-file-upload/js/jquery.fileupload-validate.js"></script>
    <script src="/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
    <script type="text/javascript" src="/bundles/rodgergallery/js/autocomplete.keywords.js"></script>
    <script type="text/javascript" src="/js/use_select_all.js"></script>
    <script type="text/javascript" src="/bundles/rodgergallery/js/album.edit.js"></script>
{% endblock javascripts %}
