{% extends "RodgerGalleryBundle:Front:base.html.twig" %}
{% block body %}
<h1>{{ 'Edit %album%' | trans({'%album%' : album}) }}</h1>
<form method="post" action="{{ path('albums.edit', { 'slug': album.slug }) }}" enctype="multipart/form-data">
{% form_theme form "RodgerGalleryBundle:Form:table.html.twig" %}
{{ form_widget(form) }}
<input type="submit" value="{{ 'update album' | trans }}"/>
</form>

<div id="album-images-container">
<form>
  {% form_theme images_form "RodgerGalleryBundle:Form:div.html.twig" %}
  {{ form_widget (images_form) }}
</form>
</div>

{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="/bundles/rodgergallery/js/autocomplete.keywords.js"></script>
{% endblock javascripts %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/bundles/rodgergallery/css/album.edit.css">
{% endblock stylesheets %}