{% extends app.request.isXmlHttpRequest ? "::modal.layout.html.twig" : "::dialog.layout.html.twig" %}

{% block modal_pre %}
<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
    {% endblock modal_pre %}

    {% block modal_post %}</form>{% endblock modal_post %}

{% block dialog_header %}{{ 'login.dialog.header' | trans }}{% endblock dialog_header %}

{% block dialog_body %}
    {% if error %}
        <div class="alert alert-block alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    <div class="form-group">
        <label class="control-label col-lg-2" for="username">{{ 'Email' | trans }}:</label>

        <div class="col-lg-10">
            <input class="form-control" required="required" type="text" id="username" name="_username"
                   placeholder="{{ 'Email' | trans }}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2" for="password">{{ 'Password' | trans }}:</label>

        <div class="col-lg-10">
            <input class="form-control" required="required" type="password" id="password" name="_password"
                   placeholder="{{ 'Password' | trans }}"/>
        </div>
    </div>
{% endblock dialog_body %}

{% block dialog_footer %}
    <span class="pull-right">
    <button type="submit" class="btn btn-success">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
  </span>
    <span class="pull-left forgot-register-holder">
    <label class="checkbox" for="remember_me">
        <input type="checkbox" id="remember_me" name="_remember_me"
               value="on"/> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    </label>
    <a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot password?' | trans }}</a>
  </span>
{% endblock dialog_footer %}


