{% block parent_category_widget %}
{% spaceless %}
    {% if expanded %}
        <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child) }}
            {{ form_label(child) }}
        {% endfor %}
        </div>
    {% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('widget_choice_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {% for choice, label in options %}
            {% if _form_is_choice_group(label) %}
                <optgroup label="{{ choice|trans }}">
                    {% for nestedChoice, nestedLabel in label %}
                        <option value="{{ nestedChoice }}"{% if _form_is_choice_selected(form, nestedChoice) %} selected="selected"{% endif %}>{{ nestedLabel|trans }}</option>
                    {% endfor %}
                </optgroup>
            {% else %}
                <option value="{{ choice }}"
                  {% if _form_is_choice_selected(form, choice) %} selected="selected" class="active"{% endif %}
                  {% if choice == unselect %} disabled="disabled"{% endif %}>{{ label|trans }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock parent_category_widget %}

{% block image_field_widget %}
{% spaceless %}
{% for child in form %} 
{% set type = child.get('type', 'checkbox') %}
{% if type == 'checkbox' %}
<div class="edit-image-thumbnail">
  <img src="{{ path }}" alt=""/>
</div>
{% endif %}
<div class="edit-image-field-{{ type  }}">
{{ form_label(child) }}
{{ form_widget(child) }} 
</div>
{% endfor %}
{% endspaceless %}
{% endblock image_field_widget %}
